<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.qqweibo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.test.qqweibo.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--QQ webview login-->
        <activity
            android:name="com.tencent.tauth.TAuthView"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- <data android:scheme="auth"/> -->
            </intent-filter>
        </activity>
    </application>

</manifest>
